@model Agenda_Consulta_Web.Models.Agendamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._Local.NomeLocal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Local.NomeLocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Paciente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Paciente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Profissional.ResgistroProfissional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Profissional.ResgistroProfissional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConsulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraConsulta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AgendamentoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
