@model IEnumerable<Agenda_Consulta_Web.Models.LocalViewModel>
@using Agenda_Consulta_Web.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Domingo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segunda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Terca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quarta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quinta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sabado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HrInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HrFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uf)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domingo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Segunda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quarta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quinta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sabado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HrInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HrFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uf)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Detales", "Details", new { id = item.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.ID }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
