@model IEnumerable<Agenda_Consulta_Web.Models.Agendamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._Local.NomeLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PacienteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfissionalID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraConsulta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._Local.NomeLocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PacienteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfissionalID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraConsulta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AgendamentoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AgendamentoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AgendamentoID })
        </td>
    </tr>
}

</table>
